@import "mixins.scss";
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), local("Lato-Regular"),
    url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
:root {
  --primary-color: #21272d;
  --secondary-color: cornflowerblue;
  --third-color: cornflowerblue;
  --fourth-color: rgba(177, 247, 244, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  --fifth-color: cornflowerblue;
}
.dark_mode {
  --primary-color: #fff;
  --secondary-color: greenyellow;
  --third-color: greenyellow;
  --fourth-color: salmon;
  --fifth-color: #000;
  --seventh-color: #af99f4;
}
* {
  margin: 0;
  padding: 0;
}
html {
  min-width: 100%;
  min-height: 100%;
}
body {
  background-color: hsla(251, 70%, 55%, 1);
  background-image: radial-gradient(
      at 89% 14%,
      hsla(163, 81%, 50%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 11% 15%, hsla(163, 82%, 50%, 1) 0px, transparent 50%);
  background-size: cover;
  background-repeat: no-repeat;
}
#nameIt {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px blanchedalmond;
}
#nameIt {
  font-family: "Lato";
  color: var(--fifth-color);
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
}
#nameItSection {
  border-radius: 10px;
  height: 100%;
  width: 90%;
  border: 3px solid var(--third-color);
  position: relative;
  margin: 5% auto;
  padding: 5px;
  background-color: var(--fourth-color);
}
.darkModeButton {
  height: 25px;
  width: 120px;
  margin: 15px auto;
  display: block;
  background: var(--secondary-color);
  color: var(--sixth-color);
  border: none;
  border-radius: 100px;
  transition: 100px ease;
  user-select: none;
}
h1 {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
/* ========= AB HIER AUFGABE ========= */

$brand-twitter: #147ab2;
$brand-behance: #1370fb;
$brand-facebook: #3e5c97;
$brand-vimeo: #15bbe9;
$brand-snapchat: #fffa3c;
$brand-airBnb: #f9747c;
$brand-amazon: #f8636b;
$brand-android: #a8c547;
$brand-stackOverFlow: #5083c2;
$brand-ubuntu: #5083c2;
$brand-gitHub: #5083c2;
$brand-javascript: #f8de3e;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

i {
  font-size: 4rem;
  &.la-twitter {
    color: $brand-twitter;
  }
  &.la-behance {
    color: $brand-behance;
  }
  &.la-facebook-f {
    color: $brand-facebook;
  }
  &.la-vimeo {
    color: $brand-vimeo;
  }
  &.la-snapchat {
    color: $brand-snapchat;
  }
  &.la-airbnb {
    color: $brand-airBnb;
  }
  &.la-amazon {
    color: $brand-amazon;
  }
  &.la-android {
    color: $brand-android;
  }
  &.la-stack-overflow {
    color: $brand-stackOverFlow;
  }
  &.la-ubuntu {
    color: $brand-ubuntu;
  }
  &.la-github {
    color: $brand-gitHub;
  }
  &.la-js-square {
    color: $brand-javascript;
  }
}
